@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray-750: #2d3748;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-caret {
  caret-color: black;
}

.dark .custom-caret {
  caret-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #111827;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px rgba(255, 255, 255, 0);
}

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-text-fill-color: #f3f4f6;
}