@import "tailwindcss";

/* 1. FORCE DARK MODE SUPPORT */
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray-750: #2d3748;
}

body {
  /* Smooth transition for background colors */
  transition: background-color 0.3s ease, color 0.3s ease;
}